{% extends "base/base.html" %}

{% block content %}
        <h2 class="mt-3 pt-5">{{ msg }}</h2>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">名前</th>
                <th scope="col">誕生日</th>
                <th scope="col">血液型</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
                <th scope="row">Active</th>
                <td>高坂穂乃果</td>
                <td>8月3日(獅子座)</td>
                <td>O型</td>
            </tr>
            <tr>
                <th scope="row">Default</th>
                <td>東條希</td>
                <td>6月9日(双子座)</td>
                <td>O型</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">Primary</th>
                <td>園田海未</td>
                <td>3月15日(魚座)</td>
                <td>A型</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Secondary</th>
                <td>南ことり</td>
                <td>9月12日(乙女座)</td>
                <td>O型</td>
            </tr>
            <tr class="table-success">
                <th scope="row">Success</th>
                <td>小泉花陽</td>
                <td>1月17日(山羊座)</td>
                <td>B型</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">Danger</th>
                <td>西木野真姫</td>
                <td>4月19日(牡羊座)</td>
                <td>AB型</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">Warning</th>
                <td>星空凛</td>
                <td>11月1日(蠍座)</td>
                <td>A型</td>
            </tr>
            <tr class="table-info">
                <th scope="row">Info</th>
                <td>絢瀬絵里</td>
                <td>10月21日(天秤座)</td>
                <td>B型</td>
            </tr>
            <tr class="table-light">
                <th scope="row">Light</th>
                <td>矢澤にこ</td>
                <td>7月22日(蟹座)</td>
                <td>A型</td>
            </tr>
            <tr class="table-dark">
                <th scope="row">Dark</th>
                <td>アルパカ</td>
                <td>?月?日(？座)</td>
                <td>?型</td>
            </tr>
            </tbody>
        </table>
{% endblock %}  
